<div class="flex justify-center p-6">
  <div class="max-w-md w-full bg-white border border-red-400 rounded-lg shadow-lg p-6">
    <form [formGroup]="formGroup" class="space-y-4">
      <div class="space-y-4">
        <div>
          <label for="matricula" class="block text-sm font-medium text-black">Matrícula:</label>
          <input type="number" id="matricula" class="bg-red-50 border border-red-300 text-black text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2" formControlName="matricula"/>
        </div>

        <div>
          <label for="nombre" class="block text-sm font-medium text-black">Nombre:</label>
          <input type="text" id="nombre" class="bg-red-50 border border-red-300 text-black text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2" formControlName="nombre"/>
        </div>

        <div>
          <label for="email" class="block text-sm font-medium text-black">Correo:</label>
          <input type="email" id="email" class="bg-red-50 border border-red-300 text-black text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2" formControlName="email"/>
        </div>

        <div>
          <label for="edad" class="block text-sm font-medium text-black">Edad:</label>
          <input type="number" id="edad" class="bg-red-50 border border-red-300 text-black text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2" formControlName="edad"/>
        </div>

        <div>
          <label for="horas" class="block text-sm font-medium text-black">Horas de trabajo:</label>
          <input type="number" id="horas" class="bg-red-50 border border-red-300 text-black text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2" formControlName="horas"/>
        </div>
      </div>

      <!-- Botones alineados horizontalmente -->
      <div class="flex justify-between space-x-2 mt-4">
        <button type="submit" (click)="guardarPersonas()" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5">Registrar</button>
        <button type="button" (click)="cargarPersonas()" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5">Imprimir</button>
        <button type="button" (click)="buscarPorMatricula()" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5">Modificar</button>
        <button type="button" (click)="eliminarPorMatricula()" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5">Eliminar</button>
      </div>
    </form>
  </div>
</div>

<div class="flex-1 p-4">
  <h3 class="text-lg font-bold text-red-700">Registro de Empleados</h3>
  <table class="table-auto w-full text-left text-sm text-red-700 mt-2">
    <thead class="text-xs text-red-700 uppercase bg-red-50">
      <tr>
        <th class="px-4 py-2">Matrícula</th>
        <th class="px-4 py-2">Nombre</th>
        <th class="px-4 py-2">Correo</th>
        <th class="px-4 py-2">Edad</th>
        <th class="px-4 py-2">Horas Trabajadas</th>
        <th class="px-4 py-2">Horas por pagar</th>
        <th class="px-4 py-2">Horas extra por pagar</th>
        <th class="px-4 py-2">Sub total a pagar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas" class="border-red-200">
        <td class="border px-4 py-2">{{ persona.matricula }}</td>
        <td class="border px-4 py-2">{{ persona.nombre }}</td>
        <td class="border px-4 py-2">{{ persona.email }}</td>
        <td class="border px-4 py-2">{{ persona.edad }}</td>
        <td class="border px-4 py-2">{{ persona.horas }}</td>
        <td class="border px-4 py-2">{{ persona.totalPagarh }}</td>
        <td class="border px-4 py-2">{{ persona.totalHorasExtra }}</td>
        <td class="border px-4 py-2">{{ persona.subTotal }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7" class="text-right font-bold text-red-700">Total a pagar:</td>
        <td class="border px-4 py-2 font-bold text-red-700">{{ totalGeneral | currency:'MXN' }}</td>
      </tr>
    </tfoot>
  </table>
</div>
